@page "/diffusionpartners/delete/{Id}"
@attribute [Authorize(Roles = "Administrator")]
@inherits DeleteBase

<h3 class="card-title">Êtes-vous sûr de vouloir supprimer cet enregistrement?</h3>
<hr />
<br />
@if (!isSuccess)
{
    <ErrorMessage Message="Un problème est survenu lors de l'opération" />
}

@if (int.Parse(Id) < 1 || string.IsNullOrWhiteSpace(Id))
{
    <ErrorMessage Message="Selection invalide. Veuillez réessayer" />
}
else if (Model == null)
{
    <LoadingMessage Message="Chargement des détails du studio" />
}
else
{
    <div class="col-md-4">
        <table class="table table-responsive">
            <tr>
                <td>Libellé</td>
                <td>@Model.DiffusionPartnerName</td>
            </tr>
            <tr>
                <td>Siret</td>
                <td>@Model.Siret</td>
            </tr>
            <tr>
                <td>Numéro d'adresse</td>
                <td>@Model.AddressNumber</td>
            </tr>
            <tr>
                <td>Adresse</td>
                <td>@Model.Address</td>
            </tr>
            <tr>
                <td>Numéro téléphone</td>
                <td>@Model.Phone</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>@Model.Email</td>
            </tr>
            <tr>
                <td>Code postal</td>
                <td>@Model.PostCode</td>
            </tr>
            <tr>
                <td>Commune</td>
                <td>@Model.City</td>
            </tr>
        </table>
        <br />


    </div>
}
<br />

<button @onclick="DeletePartner" class="btn btn-danger">
    <span class="oi oi-delete"></span>
    Supprimer partenaire
</button>

<button @onclick="BackToList" class="btn btn-outline-secondary">
    <span class="oi oi-media-skip-backward"></span>
    Revenir sur la liste
</button>
